---
---

$bg-color: #4286f4;
$font-color: #000;
$other-color: #07770e;

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Geneva", serif;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
  color: $font-color;
}

header {
  // border: #ff0000 solid;
  // border-width: 0 0 1px 0;
  width: 100%;
  position: relative;
}

#intro {
  border-width: 0 0 1px 0;
  width: 100%;
  position: relative;
}

#intro-img {
  padding-left: .9em;
}

#intro-img img {
  width: 260px;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.23);
  border: 1px solid transparent;
}

#intro-img img:hover {
  border: 1px solid $other-color;
}

a#header-link, a#clothing-link, a#url-link {
  color: $font-color;
  text-decoration: none;
  border-width: 0;
}

a#random-link {
  color: $font-color;
}

header h1, #intro h1 {
  padding: .7em;
  font-size: 20px;
  line-height: 1.5;
}

#random {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #000;
  border: solid #000;
  border-width: 0px 0 0px 0px;
}

#random:hover {
  background-color: $other-color;
  border: solid $other-color;
  border-width: 0px 0 0px 1px;
}

section {
  margin: 1.4em;
  line-height: 25px;
}

section a {
  text-decoration: none;
  color: #000;
  border: solid #000;
  border-width: 0 0 1px 0;
}

#url {
  font-size: 80%;
  padding: .7em;
  margin-top: 1.4em;
  display: inline-block;
  border: solid $other-color;
  border-width: 1px 0px 1px 1px;
}

p, h2 {
  margin-bottom: 1em;
}

p:last-child, h2:last-child {
  margin-bottom: 0;
}

.clothes {
  padding: .8em;
}

.piece {
  display: block;
  width: 80%;
}

a.piece-title {
  padding: .7em;
  border: solid $other-color;
  display: inline-block;
  border-width: 1px 0px 1px 1px;
  float: left;
  margin-bottom: 10px;
}

span, .clothes-box {
  cursor: move;
}

a.piece-title {
  cursor: pointer;
}

span {
  border: 1px solid #3872d1;
  border-right: 0;
}

.clothes-box {
  border: 1px solid $other-color;
  position: fixed;
  z-index: 9000;
  top: 30vh;
  left: 30vw;
  padding: 100px;
  display: none;
  max-width: 400px;
  width: 100%;
  border-radius: 10%;
  max--height: 400px;
  background-color: $other-color;
  -webkit-box-shadow: inset 10px 10px 16px 0px rgba(0,0,0,0.12);
-moz-box-shadow: inset 10px 10px 16px 0px rgba(0,0,0,0.12);
box-shadow: inset 10px 10px 16px 0px rgba(0,0,0,0.12);
}

@media (max-width: 535px) {

  .piece {
    display: inline !important;
    width: 100%;
  }

  a.piece-title {
    display: inline !important;
  }

  .clothes-box {
    border: 1px solid $other-color;
    position: fixed;
    z-index: 9000;
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;
    display: none;
    max--height: 400px;
    background-color: $other-color;
    -webkit-box-shadow: inset 10px 10px 16px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: inset 10px 10px 16px 0px rgba(0,0,0,0.12);
    box-shadow: inset 10px 10px 16px 0px rgba(0,0,0,0.12);
  }
}

.highlight {
  background-color: #45c619 !important;
}
.clearer {
  clear: both;
}

.credit {
  margin-top: 2em;
  margin-bottom: 4em;
}
