---
---

$bg-color: #4286f4;
$font-color: #000;
$other-color: #07770e;

body {
  font-size: 17px;
  font-family: "Geneva", serif;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
  color: $font-color;
}

header {
  // border: #ff0000 solid;
  // border-width: 0 0 1px 0;
  width: 100%;
  position: relative;
}

#intro {
  border-width: 0 0 1px 0;
  width: 100%;
  position: relative;
}

#intro-img {
  padding-left: .9em;
}

#intro-img img {
  width: 260px;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.23);
  border: 1px solid transparent;
}

#intro-img img:hover {
  border: 1px solid $other-color;
}

a#header-link, a#clothing-link, a#url-link {
  color: $font-color;
  text-decoration: none;
  border-width: 0;
}

a#random-link {
  color: $font-color;
}

header h1, #intro h1 {
  padding: .7em;
}

#random {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #000;
  border: solid #000;
  border-width: 0px 0 0px 0px;
}

#random:hover {
  background-color: $other-color;
  border: solid $other-color;
  border-width: 0px 0 0px 1px;
}

section {
  margin: 1.4em;
  line-height: 25px;
}

section ul li {
  list-style-type: circle;
  margin: 0 1em;
  padding: 0 0px;
}

section a {
  text-decoration: none;
  color: #000;
  border: solid #000;
  border-width: 0 0 1px 0;
}

#url {
  font-size: 80%;
  padding: .7em;
  margin-top: 1.4em;
  display: inline-block;
  border: solid $other-color;
  border-width: 1px 0px 1px 1px;
}

p, h2 {
  margin-bottom: 1em;
}

p:last-child, h2:last-child {
  margin-bottom: 0;
}

.clothes {
  padding: .8em;
}

.clothes ul li {
  padding: .7em;
  border: solid $other-color;
  border-width: 1px 0px 1px 1px;
  display: inline-block;
  margin-bottom: 10px;
}
