{% include _meta.html %}

<script>

$( document ).ready(function() {

  var audioElement = document.createElement('audio');
audioElement.setAttribute('src', '{{ site.baseurl }}/bell-ringing.mp3');
  var $piece = $('.clothes-box');
  $( ".clothes-box, a.piece-title, span" ).draggable();
  $( "a.piece-title" ).click(function() {
      $piece.hide(0);
          $(this).addClass('highlight');
  	$(this).next().show(0).delay(8000).fadeOut(800);
  });

  $( ".clothes-box" ).click(function() {
    $(this).hide();
  });

  $('a.piece-title').click(function() {
    audioElement.play();
});

});
</script>

</head>

<body>
  {% include _header.html %}

  <div class="clothes">
    <p>---</p>
    {% for piece in site.pieces %}
      <div class="piece">
        <a class="piece-title {{ piece.title }}">
              {{ piece.title }}
        </a>
        <div id="draggable" class="clothes-box {{ piece.title }}">
          <p><i>{{ piece.title }}</i></p>
          {{ piece.content }}
        </div>
      </div>
    {% endfor %}
    <div class="clearer"></div>
    <div class="credit">
      <p>NP, ER</p>
      <p>S17</p>
    </div>
  </div>

</body>
</html>
